<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<head>
    <meta charset="UTF-8">
    <title>Detalhes da Empresa</title>
</head>

<body>

    <div layout:fragment="content">

        <h1>Lista de Fiscalizações</h1>

        <div th:replace="~{fragments/buttons/new :: button(@{/empresa/new}, 'Nova Empresa')}"></div>

        <hr>
        <span th:text="${message}">Aqui é o texto da mensagem</span>

        <table border="1" cellpadding="10">

            <thead>
                <th><strong>ID</strong></th>
                <th><strong>Nome</strong></th>
                <th><strong>CNPJ</strong></th>
                <th><strong>Ações</strong></th>
            </thead>
            <tr th:each="fisc : ${fiscalizacao}">
                <td th:text="${fisc.id}"></td>
                <td th:text="${fisc.nome}"></td>
                <td th:text="${fisc.cnpj}"></td>
                <td colspan="2">
                    <div th:replace="~{fragments/buttons/edit :: button(@{/fiscalizacao/{id}/edit(id=${emp.id})}, 'Editar')}"></div>
                    <div th:replace="~{fragments/buttons/delete :: button(@{/fiscalizacao/delete}, ${emp.id})}"></div>
                </td>
            </tr>

        </table>

    </div>

</body>
</html>