<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<head>
    <meta charset="UTF-8">
    <title>Detalhes da Sprint</title>
</head>

<body>

    <div layout:fragment="content">

        <h1>Lista de Sprints</h1>

        <div th:replace="~{fragments/buttons/new :: button(@{/sprint/new}, 'Nova Sprint')}"></div>

        <hr>
        <span th:text="${message}">Aqui é o texto da mensagem</span>

        <table border="1" cellpadding="10">

            <thead>
                <th><strong>ID</strong></th>
                <th><strong>Descrição</strong></th>
                <th><strong>Prazo</strong></th>
                <th><strong>Ações</strong></th>
            </thead>
            <tr th:each="spt : ${sprints}">
                <td th:text="${spt.id}"></td>
                <td th:text="${spt.getData}"></td>
                <td th:text="${spt.duracao}"></td>
                <td colspan="2">
                    <div th:replace="~{fragments/buttons/edit :: button(@{/sprint/{id}/edit(id=${spt.id})}, 'Editar')}"></div>
                    <div th:replace="~{fragments/buttons/delete :: button(@{/sprint/delete}, ${spt.id})}"></div>
                </td>
            </tr>

        </table>

    </div>

</body>
</html>