<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<head>
    <meta charset="UTF-8">
    <title>Detalhes da Sprint</title>
</head>

<body>

    <div layout:fragment="content">

            <h1>Detalhes da Sprint</h1>

            <div th:replace="~{fragments/buttons/new :: button(@{/sprint/new}, 'Nova Sprint')}"></div>
            <hr>


            <table border="1" cellpadding="10">

                <tr>
                    <td><strong>ID</strong></td>
                    <td th:text="${sprint.id}"></td>
                </tr>

                <tr>
                    <td><strong>ID</strong></td>
                    <td th:text="${sprint?.descricao}"></td>
                </tr>

                <tr>
                    <td><strong>Data de início</strong></td>
                    <td th:text="${sprint?.getData}"></td>
                </tr>

                <tr>
                    <td><strong>Prazo em dias</strong></td>
                    <td th:text="${sprint?.duracao}"></td>
                </tr>

            </table>

            <br>

            <a th:href="@{/atividade/list}">
                Voltar
            </a>
    </div>

</body>
</html>