<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="button(link, id)">
    <form th:action="${link}" method="post">
        <input type="hidden" name="id" th:value="${id}">
        <!--                        <input type="hidden"-->
        <!--                               th:name="${_csrf.parameterName}"-->
        <!--                               th:value="${_csrf.token}" />-->
        <button type="submit" class="btn btn-danger">Excluir</button>
    </form>
</div>

</body>
</html>